/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*in lavoro*/

.span-margin-right{
    margin-right: 2rem;
}

.container-free-trial{
    padding: 7rem 0;
}

.column-business-plan{
    width: calc(100% / 3);
    border: 1px solid rgba(180, 180, 180,0.5);
    height: 830px;
    margin-right: 2rem;
    
}

.text-margin-top{
    margin-top: 1.2rem
}

.span-marginleft{
    margin-left: .5rem;
}

div.plan-section > p {
    margin-top: 1rem;
}

.wrap-solutions{
    margin-top: 2rem;
}

.wrap-hr{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

i{
    margin-top: 0.1rem;
}

ul.font-small > li{
    margin-top: 1rem;
}

.margin-plan{
    margin: 1.5rem
}

.margin-info-plan{
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.border-bottom-info-plan{
    border-bottom: 1px solid black;
}
/*SECTIONS/TAG*/

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}   

ul{
    list-style-type: none;
}

h3{
    font-size: 0.9rem;
}

h4{
    font-size: 0.7rem;
}

hr{
    width: 2.75rem;
    height: 1px ;
    border:1px solid ;
    border-color: lightgray;
}


/*CONTAINER*/

.jumbotron{
    background-color: #B4D0E7;
    padding-bottom: 1rem;
}

.jumbo-size{
    width: 100%;
}

.container-big{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.container{
    max-width: 50%;
    margin: 0 auto;
}

.container-columns{
    width: 100%;

}

.container-main{
    padding-top: 6rem;
}



.box-left-section-partner{
    width: 65%;
}

.box-right-section-partner{
    padding-top: 4rem;
    width: 35%;

}

.box-operations{
    width: calc(100% / 3);
    padding: 1rem;
}

.section-bottom-business{
    padding-top: 2rem;
}

.container-bottom-business{
    border: 1px solid lightgray;
}

.container-main-info{
    width: 55%;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column{
    padding-top: 3rem;
}

.column-30{
    width: 30%;
    
}

.column-70{
    width: 70%;
    
}

.button-box{
    padding-top: 1rem;
    
}

.arrow-box{
    padding-top: 1.70rem ;
    padding-bottom: 0.6rem    ;
}

.wrap-radioboxes{
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.wrap-arrow{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2.5rem;
}

.price-space{
    margin-top: 0.5rem;
}

.wrap-title-businessplan{
    border-bottom: 1px solid;
    border-color:  rgba(180, 180, 180,0.5);;
    height: 2rem;
    width: 100%;
}

/*FLEX*/

.flex-row{
    display: flex;
}

.flex-row-nowrap-sb{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-ja-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-ja-center-nw{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-sa-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-col-fs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
}

.flex-no-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-row-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-center-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

/*BUTTON*/

.button{
  align-items: center;
  background-color: #0061FF;
  border: 2px solid #0061FF;
  color: #fff;
  justify-content: center;
  padding: 0.40rem 0.60rem;
  text-align: center;
}

.button-plan{
    padding: 0.5rem 2rem;
}

.space-button{
    width: 35%;
}

.space-button{
    padding-left: 3rem;
}

.button-section-partner{
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    justify-content: center;
    padding: 0.40rem 0.60rem;
    text-align: center;
}

.button-free-trial{
    align-items: center;
    background-color: #ffffff;
    border: none;
    color: #000000;
    justify-content: center;
    padding: 0.50rem 2rem;
    text-align: center;
}
/*FONT/SYMBOL SIZE-WEIGHT-COLOR*/

.font-regular{
    font-size: 0.9rem;
}

.font-small{
    font-size: 0.8rem;
}

#title-header{
    font-size: 4rem;
    font-weight: 900;
}

.price-font{
    font-weight: 900;
    font-size: 0.75rem;
}

.time-plan-font{
    color: lightgray;
}

.font-arrow{
    font-weight: bolder;
    font-size: 2.5rem;
}

#font-title{
    font-size: 4rem;
    font-weight: 1000;
}

.font-title-section{
    font-size: 2rem;
    font-weight: 700;
}

.font-space{
    width: 60%;
    padding-bottom: 3rem;
}

.font-programs-main{
    font-size: 0.7rem;
}

.price-fontweight{
    font-weight: 700;
    font-size: 0.8rem;
}

.font-typeofplan{
    font-size: 1.2rem;
}

.period-typeofplan{
    font-size: 0.8rem;
    color: #878BAC;
}

.blue-check{
    color: #0061FF;
    font-weight: 1000;
}

.font-color-dark-red{
    color: #61052A;
    width: 45%;
}


/*SPACE*/

.row-header-items{
    padding:1.5rem 1.3rem;
}
.row-header-item-button-header{
    padding: 1.2rem 1.3rem;
}

.img-lineheight-header{
    padding: 1.3rem 1.3rem;
}

.header-column-elements{
    margin-bottom: 1.7rem;
}

.li-space{
    margin-right: 2.5rem;
}

.li-space-top{
    margin-top: 1rem;
}

.check-space-right{
    margin-right: 0.5rem;
}

.font-inlineblock{
    display: inline-block;
    margin-right: 0.3rem;
}

.space-column-plan-elements{
    margin-bottom: 1rem;
}

.price-space{
    margin-top: 0.8rem;
}

.plansection-space{
    margin-right: 1rem;
}

.period-typeofplan-space{
    margin-top: 0.3rem;
}

.options-type-of-plan{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.li-span{
    margin-left: 0.4rem;
}

.space-link{
    margin-top: 2rem;
}

.wrap-span{
    padding-left: 0.3rem;
}

.wrap-button{
    padding-top: 1.75rem;
}

.title-border-bottom{
    border-bottom: 1px solid;
    border-color:  rgba(180, 180, 180,0.5);;
    height: 2rem;
    width: 100%;
}

.section-main-space{
    padding-top: 7rem;
}

.section-main-info{
    padding-top: 6rem;
}

.img-cover{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-space-section-partner{
    margin-left: 3rem;
}

.margin-box-operations{
    margin-top: 2rem;
}

.padding-bottom-tile{
    padding-bottom: 1rem;
}

.section-main-dropbox-associated{
   padding-top: 8rem;
}

.border-prova{
    height: 500px;
    background-color: aqua;
    border: 1px solid black;
}

.free-trial{
    background-color: #B4D0E7;
}