/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*SECTIONS*/

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}   

ul{
    list-style-type: none;
}

.bottom-header{
    padding-top: 5rem;
    height: 900px;
    background-color: #B4D0E7;
}

.container-jumbo{
    width: 65%;
    height: 700px;
    border: 1px solid black;
}

/*FLEX*/

.flex-row{
    display: flex;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-sa-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*BUTTON*/

.button{
  align-items: center;
  background-color: #0061FF;
  border: 2px solid #0061FF;
  color: #fff;
  justify-content: center;
  padding: 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
}


/*FONT*/

.font-regular{
    font-size: 0.9rem;
}

#title-header{
    font-size: 5rem;
    font-weight: 900;
}

.row-header-items{
    padding:1.5rem 1.3rem;
}
