/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*SECTIONS/TAG*/

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}   

ul{
    list-style-type: none;
}

h3{
    font-size: 0.9rem;
}

hr{
    width: 3rem;
    height: 1px ;
}


.section-main{
    padding-top: 8rem;
}

/*CONTAINER*/

.jumbotron{
    background-color: #B4D0E7;
    height: 500px; /*ELIMINA DOPO*/
}

.container-main{
    max-width: 50%;
}


.arrow-box{
    padding-top: 1.70rem ;
    padding-bottom: 0.6rem    ;
}

.radio-box{                      /*________!!!_________*/
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.border-programs-title{
    border: 1px solid #E1E1E3;
    padding: 0.5rem 6rem;
}

.border-column{
    border: 1px solid #E1E1E3;
    
}

.space-column{
    padding: 1.5rem ;
}


.price-space{
    margin-top: 0.5rem;
}
/*FLEX*/

.flex-row{
    display: flex;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.flex-ja-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sa-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col-fs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
}

/*BUTTON*/

.button{
  align-items: center;
  background-color: #0061FF;
  border: 2px solid #0061FF;
  color: #fff;
  justify-content: center;
  padding: 0.40rem 0.60rem;
  text-align: center;
  text-decoration: none;
}

.button-plan{
    padding: 0.4rem 3.5rem;
}



/*FONT/SYMBOL SIZE-WEIGHT-COLOR*/

.font-regular{
    font-size: 0.85rem;
}

#title-header{
    font-size: 4rem;
    font-weight: 900;
}

.arrow-down{
    font-weight: bolder;
    font-size: 2.5rem;
}

#font-title-first-section{
    font-size: 2rem;
}

.font-programs-main{
    font-size: 0.7rem;
}

.price-fontweight{
    font-weight: 700;
    font-size: 0.8rem;
}

.font-typeofplan{
    font-size: 1.2rem;
}

.period-typeofplan{
    font-size: 0.8rem;
    color: #878BAC;
}

.blue-check{
    color: #0061FF;
    font-weight: 1000;
}

/*SPACE*/

.row-header-items{
    padding:1.5rem 1.3rem;
}
.row-header-item-button-header{
    padding: 1.2rem 1.3rem;
}

.img-lineheight-header{
    padding: 1.3rem 1.3rem;
}



.li-space{
    margin-right: 2.5rem;
}

.li-space-top{
    margin-top: 1rem;
}

.check-space-right{
    margin-right: 0.5rem;
}

.font-inlineblock{
    display: inline-block;
    margin-right: 0.3rem;
}

.space-column-plan-elements{
    margin-bottom: 1rem;
}

.price-space{
    margin-top: 0.8rem;
}

.period-typeofplan-space{
    margin-top: 0.3rem;
}

.options-type-of-plan{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.columns-gap{;
    column-gap: 2rem;
}

.space-link{
    margin-top: 2rem;
}

/*POSITION*/

.hr-space{
    padding: 2.5rem 0rem;
}



